page-register {

  .top{
    background: linear-gradient(298.01deg, #17BEBB 16.88%,#00A0FA 103.57%);
    position: relative;
    width: 411px;
    height: 190px;
    top:0px;
    left: 0px;
  }
  h1{
    color: #ffffff;
    position: absolute;
    width: 192px;
    height: 54px;
    left: 30px;
    top: 61px;
    font-family: 'Poppins';
  }
  .logo{
    position: absolute;
    width: 44px;
    height: 58px;
    left: 70px;
    top: 69px;
    font-weight:500;
    color:#ffffff;
    font-size: 75px;
  }
  .foot{
    color:#ffffff;
    position: absolute;
    width: 232px;
    height: 40px;
    left: 30px;
    top: 116px;
  }
  .sign{
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14);
    color: #828282;
    left: 25%;
    z-index: 6;
    text-transform: capitalize;
  }
  .reg{
    position: relative;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14);
    color: #17BEBB;
    left: 11%;
    right: 10%;
    z-index: 6;
    text-transform: capitalize;
  }
  .fbuttons{
    position: relative;
    background: linear-gradient(298.01deg, #17BEBB 16.88%,#00A0FA 103.57%);
    height: 30px;
  }
  .emailInput{
    width: 91%;
    height: 14%;
    margin: 8px 0;
    outline: none;
    padding: 2px;
    box-sizing: border-box;
    transition: 0.3s;
    background: #F3F7FF;
    border-radius: 12px;
  }
  .passInput{
    width: 91%;
    height: 14%;
    margin: 8px 0;
    outline: none;
    padding: 2px;
    box-sizing: border-box;
    transition: 0.3s;
    background: #F3F7FF;
    border-radius: 12px;
  }
  .phInput{
    width: 91%;
    height: 14%;
    margin: 8px 0;
    outline: none;
    padding: 2px;
    box-sizing: border-box;
    transition: 0.3s;
    background: #F3F7FF;
    border-radius: 12px;
  }
  .colsss{
    margin-left: 9%;
  }
  .cols{
    margin-left: 9%;
  }
  .emailLabel{
    position: relative;
    left: 5%;
    top: 2%;
    font-weight: 600;
    font-size: 15.3px;
    line-height: 21px;
    letter-spacing: 0.06em;
    color: #217EEB;
  }
  .passLabel{
    position: relative;
    left: 5%;
    top: 2%;
    font-weight: 600;
    font-size: 15.3px;
    line-height: 21px;
    letter-spacing: 0.06em;
    color: #217EEB;
  }
  .f{
    position: relative;
    top: 23%;
    bottom: 10%;
    font-size: 15.3px;
    line-height: 21px;
    color: #828282;
    left: 11%;
  }
  .log{
    position: relative;
    border-radius: 20px;
    margin-top: 10%;
    left: 9%;
    width: 79%;
    height: 8%;
    background: linear-gradient(298.01deg, #17BEBB 16.88%,#00A0FA 103.57%);
    color: #FFFFFF;
    box-shadow: 0 8px 6px -6px #828282;
    text-transform: capitalize;
  }
  .ic{
    padding-left: 40px;
  }
  
  .ic{
    position: relative;
  }
  
  .ic i {
    position: absolute;
    left: 8px;
    top: 0px;
    padding: 15px 10px 12px 12px;
    color: #BDBDBD;
    transition: 0.3s;
    font-size: 20px;
    background: #F3F7FF;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
  }
  
}
